.title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.videoFileUploadForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.videoFileUploadInput, .videoFileUploadButton {
  height: 36px;
  padding: 0; /* Remove padding */
  gap: 4px;
}

.videoFileUploadInput {
  width: 272px;
  height: 24px;
  padding: 4px 8px 4px 8px;
  border: 1px solid #C5C7C3;
  gap: 4px;
}

.selectYourVideo {
  display:inline-block;
  vertical-align: middle;
  line-height: 36px;
  text-wrap: nowrap;
  text-align: center;
  width: 120px;
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  color: #C5C7C3;
  border: 1px solid #C5C7C3;
}

.videoFileUploadButton {
  margin-left: 8px;
  width: 83px;
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  background-color: #F4F4F3;
  border: none;
}

.status, .selectedFile{
  text-transform: capitalize;
  font-size: 14px;
  display: flex;
}

.selectedFile {
  display: flex;
  align-items: center;
}

.label {
  margin-right: 5px;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  margin: auto;
  animation: rotate 2s linear infinite;
}